<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

	<title>Line-Up</title>

	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<link href="assets/css/app.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div id="debug">
    Selected: <span id="sel"></span>
</div>

<div id="lineup" ng-app="lineupApp" ng-controller="lineup">

    <div class="lineupOptions">
			<button name="nineMan" class="nineMan" ng-click="setLineUpCt('nineMan')">9</button>
			<button class="right tenMan" name="tenMan" ng-click="setLineUpCt('tenMan')">10</button>
		</div>

		<ul id="players" ng-sortable="playerConfig">
        <li ng-repeat="item in player" data-number="{{item.number}}" data-id="{{item.number}}">
        	<span class="playerNum">{{item.number}}</span>
        	{{item.name}}
            <div class="playerPos" data-set-pos="" data-selection=""></div>
        </li>
    </ul>

    <ul id="posOptions">
        <li ng-repeat="item in positions"
            data-pos="{{item.pos}}" data-pos-number="{{item.posNum}}"
            data-selected="">
        	{{item.pos}}
        </li>
    </ul>

    <div id="data">
        <button ng-click="saveData()">Save</button>
        <span>{{msg}}</span>
    </div>

</div>


<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="assets/js/min/Sortable-min.js"></script>
<script src="assets/js/min/ng-sortable-min.js"></script>
<script src="assets/js/min/lineupApp-min.js"></script>

</body>
</html>
