@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700,900);

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 16px;
  background: #f4f4f4;
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-size: 16px;
}

#debug, #data { position: fixed; top: 0; display: none; }
#data { /*display: block;*/ }

.hide { display: none; }

ul { list-style: none; padding: 0; }
ul li,
ul li span,
ul li div,
button {
  background: rgba(255,255,255,1);
  margin-bottom: 5px;
  padding: 16px 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  position: relative;
  height: 53px;
  text-align: center;
}

button {
  border: none;
  border-radius: 4px;
  font-size: 1em;
  display: inline-block;
  margin-bottom: 0;
  width: 49.5%;
  outline:none;
}

button.right {
  float: right;
}

ul li span,
ul li div {
  position: absolute;
  top: 0;
  width: 50px;
  text-align: center;
}

/*  NUMBER  */
ul li span {
  border-radius: 4px 0 0 4px;
  left: -55px;
  color: #999;
  position: relative;
  position: absolute;
  text-shadow: 1px 1px 0 rgba(255,255,255,1);
}

/*  POSITION  */
ul li div {
  border-radius: 0 4px 4px 0;
  right: -55px;
  top: 0;
}

[draggable="true"] {
  background: rgba(255,255,255,0.8);
  box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}

ul#order,
ul#players,
ul#pos,
ul#posOptions { position: absolute; }

ul li span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body ul li:nth-child(n+11),
body ul li:nth-child(n+11) span,
body.nineMan ul li:nth-child(n+10),
body.nineMan ul li:nth-child(n+10) span {
	background: rgba(255,255,255,0.3);
	color: #BBB;
	text-shadow: 1px 1px 0 rgba(255,255,255,1);
}

ul li:nth-child(n+11) div,
body.nineMan ul li:nth-child(n+10) div {
	display: none;
}

ul#players { left: 70px; right: 70px; }

ul#players li { text-align: left; }

.playerPos { border-radius: 0 4px 4px 0; border: 3px solid transparent; padding: 13px; }
.playerPos[data-selection="focus"] { border-color: rgba(156, 193, 228, 0.5) }

ul#posOptions { width: 50px; right: 15px; display: none }
ul#posOptions li { cursor: pointer; }
ul#posOptions.open { display: block }

[data-selected="selected"] { color: rgba(0, 0, 0, 0.25) }

body.choosePos ul#players { right: 125px; }

body.nineMan button.tenMan,
body.tenMan button.nineMan {
  opacity: 0.35;
}

body.nineMan .lineupOptions,
body.tenMan .lineupOptions {
  /*margin-top: -50px;*/
  /*opacity: 0;*/
}

/*  ORDER NUMBERS  */
ul li span:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 4px;
  top: 0;
  width: 90%;
  height: 100%;
  z-index: 1;
  opacity: 0.35;
  background-image: url('../img/numbers/1.svg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

ul li:nth-child(2) span:before {
  background-image: url('../img/numbers/2.svg');
}

ul li:nth-child(3) span:before {
  background-image: url('../img/numbers/3.svg');
}

ul li:nth-child(4) span:before {
  background-image: url('../img/numbers/4.svg');
}

ul li:nth-child(5) span:before {
  background-image: url('../img/numbers/5.svg');
}

ul li:nth-child(6) span:before {
  background-image: url('../img/numbers/6.svg');
}

ul li:nth-child(7) span:before {
  background-image: url('../img/numbers/7.svg');
}

ul li:nth-child(8) span:before {
  background-image: url('../img/numbers/8.svg');
}

ul li:nth-child(9) span:before {
  background-image: url('../img/numbers/9.svg');
}

ul li:nth-child(10) span:before {
  background-image: url('../img/numbers/10.svg');
}

ul li:nth-child(11) span:before,
body.nineMan ul li:nth-child(10) span:before {
  background-image: none;
}
