<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

	<title>Line-Up</title>

	<meta name="viewport" content="width=device-width, initial-scale=0.5"/>

	<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet" type="text/css"/>

	<link href="app.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div id="lineup" ng-app="lineupApp" ng-controller="demo">
    <ul ng-sortable="orderConfig">
        <li ng-repeat="item in order">{{item}}</li>
    </ul>

    <ul ng-sortable="{ group: 'playerpos' }">
        <li ng-repeat="item in player">{{item}}</li>
    </ul>

    <ul ng-sortable="posConfig">
        <li ng-repeat="item in pos">{{item}}</li>
    </ul>
</div>


	<div id="todos" ng-app="todoApp" class="container" style="margin-top: 100px">

			<div><div data-force="5" class="layer title title_xl">AngluarJS / ng-sortable</div></div>

			<div style="width: 30%; margin-top: -8px; margin-left: 10px; float: left;" class="block__list block__list_words">
				<div ng-controller="TodoController">
					<span style="padding-left: 20px">{{remaining()}} of {{todos.length}} remaining</span>
					[ <a href="" ng-click="archive()">archive</a> ]
					<ul ng-sortable="{ group: 'todo', animation: 150 }" class="unstyled">
						<li ng-repeat="todo in todos">
							<input type="checkbox" ng-model="todo.done">
							<span class="done-{{todo.done}}">{{todo.text}}</span>
						</li>
					</ul>
					<form ng-submit="addTodo()" style="padding-left: 20px">
						<input type="text" ng-model="todoText" size="30"
							   placeholder="add new todo here">
					</form>
				</div>
			</div>


			<div style="width: 30%; margin-top: -8px; margin-left: 10px; float: left;" class="block__list block__list_words">
				<div ng-controller="TodoControllerNext">
					<span style="padding-left: 20px">{{remaining()}} of {{todos.length}} remaining</span>
					<ul ng-sortable="sortableConfig" class="unstyled">
						<li ng-repeat="todo in todos">
							<input type="checkbox" ng-model="todo.done">
							<span class="done-{{todo.done}}">{{todo.text}}</span>
						</li>
					</ul>
				</div>
			</div>

	</div>

	<script src="Sortable.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="ng-sortable.js"></script>

	<script>
		(function (){
			var console = window.console;

			if( !console.log ){
				console.log = function (){
					alert([].join.apply(arguments, ' '));
				};
			}

			angular.module('lineupApp', ['ng-sortable'])
			    .controller('demo', ['$scope', function ($scope) {
			        $scope.order = ['1','2','3','4','5','6','7','8','9','10'];
			        //$scope.orderConfig = { disabled: true };
			        $scope.player = ['foo 1', '..'];
			        $scope.pos = ['bar 1', '..'];
			        $scope.posConfig = { group: 'playerpos', animation: 150 };
		    }]);
			// angular.module('todoApp', ['ng-sortable'])
			// 	.controller('TodoController', ['$scope', function ($scope) {
			// 		$scope.todos = [
			// 			{text: 'learn angular', done: true},
			// 			{text: 'build an angular app', done: false}
			// 		];

			// 		$scope.addTodo = function () {
			// 			$scope.todos.push({text: $scope.todoText, done: false});
			// 			$scope.todoText = '';
			// 		};

			// 		$scope.remaining = function () {
			// 			var count = 0;
			// 			angular.forEach($scope.todos, function (todo) {
			// 				count += todo.done ? 0 : 1;
			// 			});
			// 			return count;
			// 		};

			// 		$scope.archive = function () {
			// 			var oldTodos = $scope.todos;
			// 			$scope.todos = [];
			// 			angular.forEach(oldTodos, function (todo) {
			// 				if (!todo.done) $scope.todos.push(todo);
			// 			});
			// 		};
			// 	}])
			// 	.controller('TodoControllerNext', ['$scope', function ($scope) {
			// 		$scope.todos = [
			// 			{text: 'learn Sortable', done: true},
			// 			{text: 'use ng-sortable', done: false},
			// 			{text: 'Enjoy', done: false}
			// 		];

			// 		$scope.remaining = function () {
			// 			var count = 0;
			// 			angular.forEach($scope.todos, function (todo) {
			// 				count += todo.done ? 0 : 1;
			// 			});
			// 			return count;
			// 		};

			// 		$scope.sortableConfig = { group: 'todo', disabled: true, animation: 150 };
			// 		'Start End Add Update Remove Sort'.split(' ').forEach(function (name) {
			// 			$scope.sortableConfig['on' + name] = console.log.bind(console, name);
			// 		});
			// 	}]);
		})();
	</script>


</body>
</html>
